<h1>Editing Employee</h1>
<hr>
employee.dob = <%= @employee.dob %><br>
employee.dob_year = <%= @employee.dob_year %>
<hr>
<%= render 'form' %>

<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
