<p id="notice"><%= notice %></p>
<hr>
Employee.dob=<%= @employee.dob %>
Employee.dob_year=<%= @employee.dob_year %>
<hr>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employee.dob %>
</p>

<p>
  <strong>Login:</strong>
  <%= @employee.login %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
